
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TradePage</title>
</head>
<body>
    <p>Trades will be listed here</p>
</body>
</html>
