@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="jumbotron-fluid">@ViewBag.welcome</h1>
        <p>THE DATE IS: @ViewData["Date"]</p>
        <p>THE TIME IS: @ViewData["Time"]</p>
    </div>
</body>
