@model List<Roster>
@{
    ViewData["Title"] = "Your Fantasy Team";
    Layout = "~/Views/Shared/_FFForm.cshtml";
}
<body>
    <div class="text-center">
        <h1 class="jumbotron-fluid">@ViewBag.welcome</h1>
        <p>THE DATE IS: @ViewData["Date"]</p>
       
    </div>
    <div>
    <ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    </ul>
        <a class="nav-link" asp-controller="Roster" asp-action="PlayerAdd">Add a player to your team</a>
    </div>

</body>
