@{
    ViewData["Title"] = "Links";
    Layout = "~/Views/Shared/_FFTeamPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Tips for @User.Identity.Name</h1>
    <div class=" text-left">
        <a class="nav-link" href="https://fantasy.espn.com/football/league?leagueId=941432"> Link to our Fantasy League</a>
    </div>
    <div class="text-center">
        <p>Here are some other useful links we use for Fantasy Football information</p>
    </div>
    
    <div class="text-md-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/z0oDjkGb3Kc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <h3>Sites we Like</h3>
        <a class="nav-link" href=" https://fantasyfootballcalculator.com/"> Draft Calculator</a>
        <a class="nav-link" href=" http://fantasyfootball.sportsunlimitedinc.com/"> Fantasy Football Name Generator</a>
        <a class="nav-link" href="https://football.fantasysports.yahoo.com/f1/ffl">FF Online</a>
    </div>
</body>
</html>
