@model IEnumerable<TradeOffer>
@{
    ViewData["Title"] = "Fantasy Trading Page";
    Layout = "~/Views/Shared/_FFForm.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        <div class="panel-body"> <h2> Trade Offers</h2></div>
        <div>
           <p3> List Trades Here</p3>

          
        </div>
    </div>
</body>
